<!DOCTYPE html>
<html lang="en" ng-app="avalon">
<head>
	<meta charset="UTF-8">
	<title>avalon</title>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-route/angular-route.min.js"></script>
	<script src="/node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="/js/avalon-client.js"></script>
	<script src="/js/service.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/config.js"></script>

</head>
<body ng-view>
	
</body>
</html>